.hero2 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(84, 0, 36, 0.7), rgba(83, 0, 36, 0.7)),
    url("/hero.png");
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image in the section */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
}
.hero-text p {
  max-width: 700px;
  margin: 10px auto auto 20px;
  line-height: 1.4;
}
